.app-wrapper{
  display: grid;
  grid-template-areas:
  "header header"
  "navigation content";
  grid-template-rows: 140px 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 0 auto;
  max-width: 1200px;
}




