.app-content {
    grid-area: content;
    background-color: #f7f7f7;
}

.messagesContainer {
    display: grid;
    grid-template-columns: 3fr 9fr;
    margin: 50px 80px;
}

a:hover {
    color: #000000;
    font-weight: bolder;
}

.users {

}

.users .active {
    font-weight: bolder;
    margin-left: 20px;
}

.user {
    margin-bottom: 20px;
}

.messages {

}

.message {

}