.app-content {
    grid-area: content;
    background-color: #f7f7f7;
}

.messagesContainer {
    display: grid;
    grid-template-columns: 3fr 9fr;
    margin: 50px 80px;
}

a:hover {
    color: #000000;
    font-weight: bolder;
}

.users {

}

.users .active {
    font-weight: bolder;
    padding-left: 20px;
    border-left: 4px solid #61dafb;
}

.users img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 10px;
}

.user {
    margin-bottom: 20px;
}

.messages {
    margin: 20px;
}

.message {
    padding: 10px 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #2d9f9f;
    width: fit-content;
    max-width: 50%;
}

.addMessageWrapper {
}

textarea {
    display: grid;
    grid-template-columns: 12fr;
    margin: 40px 0 20px;
}